:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
    --nav-color: rgba(225, 225, 225, 0.75);
    --nav-color-hover: rgba(225, 225, 225, 1);


}

body {
    font-family: 'inter', sans-serif;
}

.background {
    position: absolute;
    background-image: url(Assets/VFR.jpg);
    min-width: 100vw;
    min-height: 100vh;
}

* {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #3498db;
}


.logo img {
    height: 50px;
    width: 50px;
    padding-left: 15px;
}

.logo h5 {
    padding-top: 15px;
}

.logo {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 70px auto;
}

ul {
    display: flex;
    margin-top: 40px;
    column-gap: 2em;
    transition: all 0.3s ease-in-out;
    list-style-type: none;

}

.nav-link {
    color: var(--nav-color);
    font-size: 2em;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--nav-color-hover);
    transition: color 0.4s;
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.bar {
    height: 2px;
    width: 27px;
    background-color: black;
    margin: 2px 0;
    opacity: 1;
}

.nav--open {
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

@media (max-width: 650px) {

    .nav-list {
        position: fixed;
        top: 20px;
        left: 0;
        width: 100%;
        padding: 10px 0 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #3498db;
        transform: translateX(-100%);
    }

    .hamburger {
        opacity: 1;
    }
}


.quote--open {
    margin-top: 160px !important;

}


.quote {
    background-color: #253c61;
    margin-bottom: 0;
    margin-top: 10px;
    height: 300px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-inner {
    margin: 0 20px;
}

.quote h1,
h6 {
    text-align: center;
    color: white;
}

.ourservice-title {
    background-color: rgba(39, 233, 245, 0.8);
    width: 100vw;
}

.grid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 30%;
    margin-bottom: 0;
    background-color: rgba(39, 233, 245, 0.8);
    padding: 20px;
}

.menu-container {
    height: 500px;
    width: 300px;
    margin: 5px;
    border-style: solid;
    border-color: #253c61;
    border-width: 5px;
    border-radius: 5px;
    position: relative;
}

.menu-container h3 {
    position: absolute;
    bottom: 10px;
    color: #fff;

}

.menu-container img {
    height: 100%;
    width: 100%;
}

.learnMore {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    color: aliceblue;
    transition: 0.6s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;


}

.learnMore:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}


@media (max-width : 650px) {
    .grid-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-container {
        height: 500px;
        width: 300px;
        margin: 5px;
        border-style: solid;
        border-color: #253c61;
        border-width: 5px;
        border-radius: 5px;
        position: relative;
        background-color: wheat;
    }
}

.body-container {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    overflow: hidden;
    margin-bottom: 2em;
}

.progress-container {
    display: flex;
    width: 100%;
    height: 100%;

}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 150px;
    left: 20px;
    margin: 0;
    opacity: 0;


}

.panel p {
    font-size: 15px;
    position: absolute;
    bottom: 50px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;

}

.panel.active h3 {
    opacity: 1;
}

.panel.active p {
    opacity: 1;
}

.contact-us-title {
    font-size: 15px;
    background-color: #3498db;
}

.contact-us {
    display: flex;
    flex-direction: column;
    background-color: #3498db;
    align-items: center;
}

.input-text,
textarea {
    width: 100%;
    border-radius: 5px;
}

.contact-item {
    width: 35%;
    padding: 0;
    margin-bottom: 15px;
}

.contact-input {
    width: 100%;
    border-radius: 5px;
}

.contact-fill {
    width: 100%;
}

button {
    background-color: blue;
    color: #fff;
    border-radius: 9px;
    width: 15%;
    margin-bottom: 5px;

}

.contact-submitted {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
}

.hidden {
    visibility: hidden;
}

.text-container {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
}

@media(max-width: 680px) {
    .body-container {
        width: 100%;
    }

    .progress-container {
        width: 100%;
    }
}